#header{
	height:70px;
}

#header .span5{
	height:100%;
}

#server-error{
	display: none;
}

#id_box{
	float:right;
}

#id_box button{
	margin:5%;
}

#logo_box{}

#logo_box .logo_img{
	background-image: url('../images/unfucktheplanet_logo_color.png');
	background-repeat: none;
	height: 70px;
	width:276px;
}

#logo_box .logo_short{
	background-image: url('../images/unfuck.png');
	background-repeat: none;
	height: 70px;
	width:276px;
}

#location input{
	height: 60%;
	width: 100%;
	font-size: 2.9em;
	line-height: 52px;
	margin-top: 10px;
}

.fuck-controls{
	margin-left: 5%;
}

.fuck_holder{
	height: 200px;
}

.flowright{
	float:right;
}

.fuck-cell{
	margin: 0px 0px 10px 0px;
}

.fuck-cell .fuck-action{
	margin-top: 5px;
}

.fuck-action .btn{
	float:right;
}

.unfuck_badge{
	height:30px;
	width:30px;
	margin: 5px 15px 5px 10px;
	float:left;
	background-image:url('../images/fuck-bullet.png');
	background-repeat: none;
}

.create_fuck{
	display:none;
}

.fuck-create-form .create_fuck{
	display:block;
}

textarea{
	width: 100%;
}

.create-unfuck textarea,textarea.message-textarea{
	width:97%;
}

.separator{
	padding-left: 10px;
	margin: 5px -20px -10px 0px;
}

.amount-wrapper{
	margin-left: 1px;
}

.description-wrapper input, .amount-wrapper input, .calendar_field{
	width:100%;
}

.calendar_row{
	padding: 10px;
}

.row_intro{
	padding: 5px 5px 0px 0px;
	margin-right: -20px;
}

.from_wrapper{
	margin-left: -10px;
}

.calendar_separator{
	margin-right: -5px;
}

.remove-resource-btn{
	margin: 5px 0px -5px -15px;
}

i.toggle-active{
	display: none;
}

i.toggle-inactive{
	display: inline-block;
}

.active i.toggle-inactive{
	display: none;
}

.active i.toggle-active{
	display: inline-block;
}

.pledger{
	margin-left: 20px;
}