#header{
	height:70px;
	margin-top: 5px;
}

#header h1{
	margin-top: 16px;
	color: #99cc66;
	font-family: cursive;
	font-style: italic;
}

#header .span5{
	height:100%;
}

#logo_box{
	background-image: url('../images/unfuck.png');
	background-repeat: no-repeat;
}

.flowright{
	float:right;
}

.fucked-image{
	margin-top: 45px;
}

.unfuck-content{
	
}

