<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey UnFucker!</p>
    <p>
      Yes. You. You are invited to UnFuck the Planet! 
    </p>
    <p>
      Have a great UnFuck!
    </p>
    <p>
      Your UnFuck Team<br/>
      <a href="http://www.unfucktheplanet.com">https://wwww.UnFuckThePlanet.com</a>
    </p>
  </body>
</html>
