<<<<<<< HEAD
<div id="header" class="row-fluid">
	<div id="logo_box" class="span5">
		<div class="logo_img"></div>
	</div>
	<div id="prompt_box" class="span5">
		<a id="create_fuck" href="fuck/new" class="btn btn-large btn-primary"><span id="user-name"></span>, Help us Unfuck the Planet</a>
	</div>
</div>

	<br />
<div id="body-wrap">
	<!-- Featured Fucks -->
	<br />
	<!-- Other Fucks -->    
</div>
=======
<!-- Todo App Interface -->

   <div id="todoapp">

     <div class="title">
       <h1>Todos</h1>
     </div>

     <div class="content">

       <div id="create-todo">
         <input id="new-todo" placeholder="What needs to be done?" type="text" />
         <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
       </div>

       <div id="todos">
         <ul id="todo-list"></ul>
       </div>

       <div id="todo-stats"></div>

     </div>

   </div>

   <ul id="instructions">
     <li>Double-click to edit a todo.</li>
   </ul>

   <div id="credits">
     Created by
     <br />
     <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a> ported by Russell Edens,
     using Rails postgres backend, Handlebars templates and helpers, Jammit template asset packing.
   </div>
>>>>>>> 0f7b811d335fe560786b1d0d79246d71066ca23a
