<h1>Listing users</h1>

<table id="users-table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Location</th>
    <th>Fb</th>
    <th>Fb token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New User</a>